body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
}

.hero,
.footer {
    background-color: #1F2937;
}

.information,
.call {
    background-color: white;
}

.hero,
.information,
.quote,
.call
.footer {
    display: flex;
    justify-content: center;
}

.subhero {
    width: 1000px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero-main {
    display: flex;
    margin: 100px 0px;
    justify-content: space-between;
    gap: 50px;
}

.left {
    flex: 1;
}

.header1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #3882f6;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
    cursor:pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
}

.right {
    flex: 1;
}

.placeholder {
    background-color: grey;
    color: #e5e7eb;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.subinformation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 900px;
}

.header2 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.boxes {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.bat {
    display: flex;
    flex-direction: column;
}

.box {
    border: 3px solid #3882f6;
    border-radius: 15px;
    max-height: 200px;
    max-width: 200px;
    flex-basis: 200px;
}

.text {
    font-size: 18px;
    color: grey;
    text-align: center;
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
}

.subquote {
    display: flex;

    flex-direction: column;
    width: 900px;
    margin: 50px 0;
}

.qtext {
    font-size: 36px;
    font-style: italic;
    text-align: start;
    color: #1F2937;
}

.author {
    text-align: end;
}

.subcall {
    width: 1000px;
    display: flex;
    flex: 1;
    margin: 40px 0;
}

.boxcall {
    background-color: #3882f6;
    flex:1;
    display: flex;
    color: #f9faf8;
}

.top {

}

.down {

}

.left1 {
    flex: 1;
}

.right1 {
    flex: 1;
}





